<div class="container-fluid mt-5 pt-5">
  <a class=" text-left back mb-5" routerLink="/home"><i class="fa-solid fa-house"></i></a>
  <div class="card pb-5 mt-4">
    <a class="btn text-left mt-5" routerLink="/patients">Back</a>
    <div class="card-body">
        <div class="header mb-4">
        <h1 class="text-center">Update Data</h1>
      </div>
      <div class="form-group">
        <label for="" class="">Patient Name</label>
        <input type="text" required minlength="4" maxlength="20" #patientName="ngModel" name="name" [(ngModel)]="patient.name"  class="form-control">
      <div *ngIf="patientName.touched && patientName.invalid" class="alert alert-danger">
        Please Enter Valid Name
      </div>
      </div>
      <div class="form-group">
        <label for="" class="">Phone</label>
        <input type="number" name="phone " required #patientPhone="ngModel" [(ngModel)]="patient.phone" class="form-control" >
        <div *ngIf="patientPhone.touched && patientPhone.invalid" class="alert alert-danger">
          Please Enter Valid Phone
        </div>
      </div>
      <div class="form-group">
        <label for="" class="">Age</label>
        <input type="number" name="age" required #patientAge="ngModel" [(ngModel)]="patient.age" class="form-control">
        <div *ngIf="patientAge.touched && patientAge.invalid" class="alert alert-danger">
          Please Enter Valid Age
        </div>
      </div>
      <div class="form-group">
        <label for="" class="">Date of Birth</label>
        <input type="date" name="date" required #patientDate="ngModel" [(ngModel)]="patient.date" class="form-control">
        <div *ngIf="patientDate.touched && patientDate.invalid" class="alert alert-danger">
          Please Enter Valid Date
        </div>
      </div>
      <div class="form-group">
        <label for="" class="">city</label>
        <select name="city" id="city" form="" #patientCity="ngModel" [(ngModel)]="patient.city" class="form-select" required>
          <option value="Ad Daqahliyah">Ad Daqahliyah</option>
          <option value="Al Bahr al Ahmar">Al Bahr al Ahmar</option>
          <option value="Al Buhayrah">Al Buhayrah</option>
          <option value="Al Fayyum">Al Fayyum</option>
          <option value="Al Gharbiyah">Al Gharbiyah</option>
          <option value="Al Iskandariyah">Al Iskandariyah</option>
          <option value="Al Isma'iliyah">Al Isma'iliyah</option>
          <option value="Al Jizah">Al Jizah</option>
          <option value="Al Minufiyah">Al Minufiyah</option>
          <option value="Al Minya">Al Minya</option>
          <option value="Al Qahirah">Al Qahirah</option>
          <option value="Al Qalyubiyah">Al Qalyubiyah</option>
          <option value="Al Wadi al Jadid">Al Wadi al Jadid</option>
          <option value="Ash Sharqiyah">Ash Sharqiyah</option>
          <option value="As Suways">As Suways</option>
          <option value="Aswan">Aswan</option>
          <option value="Asyut">Asyut</option>
          <option value="Bani Suwayf">Bani Suwayf</option>
          <option value="Bur Sa'id">Bur Sa'id</option>
          <option value="Dumyat">Dumyat</option>
          <option value="Janub Sina'">Janub Sina'</option>
          <option value="Kafr ash Shaykh">Kafr ash Shaykh</option>
          <option value="Matruh">Matruh</option>
          <option value="Qina">Qina</option>
          <option value="Shamal Sina'">Shamal Sina'</option>
          <option value="Suhaj">Suhaj</option>
          </select>
          <div *ngIf="patientCity.touched && patientCity.invalid" class="alert alert-danger">
            Please Enter Valid City
          </div>
      </div>
      <div class="form-group">
        <p>Gender</p>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" value="male" [(ngModel)]="patient.gender">
        <label class="form-check-label" for="">Male</label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" value="female" checked [(ngModel)]="patient.gender">
        <label class="form-check-label" for="">Female</label>
        </div>
    </div>
    <div class="form-group">
      <label for="">Service</label>
        <select name="service" id="service" #patientService="ngModel" [(ngModel)]="patient.service" class="form-select" required>
          <option value="Crown and bridges">Crown and bridges</option>
          <option value="Dental implants">Dental implants</option>
          <option value="Dentures and partial dentures">Dentures and partial dentures</option>
          <option value="Restorative and cosmetic dentistry">Restorative and cosmetic dentistry</option>
          <option value="Porcelain veneers">Porcelain veneers</option>
          <option value="Comprehensive reconstruction">Comprehensive reconstruction</option>
          </select>
          <div *ngIf="patientService.touched && patientService.invalid" class="alert alert-danger">
            Please Enter Valid Service
          </div>
        </div>
        <div class="form-group">
          <label for="" class="">Choose the Date you want to vist us</label>
          <input type="date" name="date " required #patientService="ngModel"  [(ngModel)]="patient.appointment" class="form-control" >
          <div *ngIf="patientService.touched && patientService.invalid" class="alert alert-danger">
            Please Enter Valid Service
          </div>
        </div>
        <button class="btn btn-info w-100 mt-3" (click)=" editData()" >
          Edit
        </button>
  </div>
    </div>
  </div>
