<div class="container-fluid mt-5 pt-5">
  <a class=" text-left back mb-5" routerLink="/home"><i class="fa-solid fa-house"></i></a>
  <div class="card mt-4">
    <a class="btn text-left mt-5" routerLink="/doctors">Back</a>
    <h1 class="text-center mt-3">Update Data</h1>
    <div class="card-body">
      <div class="form-group">
        <label for="" class="">Name</label>
        <input type="text"  [(ngModel)]="doctor.name" #doctorName="ngModel" class="form-control">
        <div *ngIf="doctorName.touched && doctorName.invalid" class="alert alert-danger">
          <p>You Must Enter vaild Name</p>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="">E-mail</label>
        <input type="email" [(ngModel)]="doctor.gmail" #doctorgmail="ngModel" class="form-control">
        <div *ngIf="doctorgmail.touched && doctorgmail.invalid" class="alert alert-danger">
          <p>You Must Enter vaild Name</p>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="">Phone</label>
        <input type="number" [(ngModel)]="doctor.phone" #doctorphone="ngModel" class="form-control">
        <div *ngIf="doctorphone.touched && doctorphone.invalid" class="alert alert-danger">
          <p>Please Enter Valid E-mail</p>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="">Specialization</label>
        <select name="Specialization" id="Specialization" #doctorSpecialization="ngModel"  class="form-select" [(ngModel)]="doctor.Specialization">
          <option>Cosmetic Dental Services</option>
          <option>Crown and bridges</option>
          <option>Dental implants</option>
          <option>Dentures and partial dentures</option>
          <option>Restorative and cosmetic dentistry</option>
          <option>Porcelain veneers</option>
          </select>
          <div *ngIf="doctorSpecialization.touched && doctorSpecialization.invalid" class="alert alert-danger">
            <p>Please Choose Specialization </p>
          </div>
      </div>
      <div class="form-group">
        <label for="" class="">Age</label>
        <input type="number" [(ngModel)]="doctor.age" #doctorAge="ngModel" class="form-control">
        <div *ngIf="doctorAge.touched && doctorAge.invalid" class="alert alert-danger">
          <p>You Must Enter Your Age</p>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="">ImgUrl</label>
        <input type="url"  [(ngModel)]="doctor.imgUrl" #doctorimgUrl="ngModel" class="form-control">
        <div *ngIf="doctorimgUrl.touched && doctorimgUrl.invalid" class="alert alert-danger">
          <p>You Must Enter Your Picture</p>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="">About</label>
        <textarea type="text" class="form-control" #doctorAbout="ngModel" [(ngModel)]="doctor.about" rows="5"></textarea>
        <div *ngIf="doctorAbout.touched && doctorAbout.invalid" class="alert alert-danger">
          <p>You Must Enter Data</p>
        </div>
      </div>
      <button  (click)="editData()" class="btn btn-info w-100">Edit</button>
  </div>
    </div>
  </div>
