<div class="container-fluid mt-5 pt-5">
  <a class=" text-left back mb-5" routerLink="/home"><i class="fa-solid fa-house"></i></a>
  <div class="card mt-4">
    <div class="card-body">
      <div class="section-header">
        <h1 class="head">PATIENTS</h1>
        <a class="btn btn-info mr-2 mt-3" routerLink="/createPatient" >NEW Patient</a>
      </div>
      <div *ngIf="empty ;then ifDataEmpty ;else ifDataFound">
      </div>
      <ng-template #ifDataEmpty>
        <div class="alert alert-danger" >
          <h6>NO Data Found *_*</h6>
        </div>
      </ng-template>
      <ng-template  #ifDataFound>
        <table class="table">
          <thead class="thead">
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of allData;let i=index">
              <th>{{i+1}}</th>
              <th>{{data.id}}</th>
              <td>{{data.name}}</td>
              <td>
              <div class="dropdown">
                <a type="button" style="font-size:20px" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis text-info"></i>
                </a>
                <ul class="dropdown-menu">
                  <li  (click)="onDelete(data.id)"><a class="dropdown-item"><i class="fa-solid fa-trash"></i></a></li>
                  <li><a class="dropdown-item text-info" routerLink="/updatePatient/{{data.id}}"><i class="fa-solid fa-pen-to-square"></i></a></li>
                  <li><a class="dropdown-item text-info "routerLink="/showPatient/{{data.id}}" ><i class="fa-solid fa-eye"></i></a></li>
                </ul>
              </div>
            </td>
            </tr>
          </tbody>
        </table>
      </ng-template>

    </div>
  </div>
  </div>
