h1{
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
  opacity: 1;
  display: block !important;
  opacity: 1 !important;
  visibility:visible !important;
}
img{
  filter:brightness(.4);
}
h5{
  color: #51929c;
}
.row{
  margin: 0;
}
.card{
  text-align: center;
  margin: auto;
  border: 0;
}
.card img{
  height: 70px;
  width: 70px;
  margin: auto;
}
h2{
  color: rgba(251, 106, 98, 0.669);
  font-weight: bold;
}
.links{
  margin: auto;
  width: 20%;
}
@media (max-width: 750px) {
  .links{
    width: 80%;
    margin: auto;
  }
}
