<div class="home ">
<div class="container-fluid col-md-4 mt-5 pt-5">
  <a class=" text-left back mb-5" routerLink="/home"><i class="fa-solid fa-house"></i></a>
  <div class="card pb-4 mt-4">
      <div class="card-header text-center">
        <img [src]="service.descriptiveImdUrl" class="img-fluid img-top" alt="">
      </div>
      <div class="card-body">
        <h5 class="text-center">{{service.name}}</h5>
        <h6 class="text-center">{{service.about}}</h6>

      </div>
      <a class="btn " routerLink="/services">Back</a>
    </div>
    </div>
  </div>

