
<section id="chefs" class="chefs section-bg">
  <div class="container" data-aos="fade-up">
    <a class=" text-left back mb-5" routerLink="/home"><i class="fa-solid fa-house"></i></a>
    <div class="section-header">
    </div>
    <div class="row ">
      <div class="col-md-5 image" style="width: 30rem; ">
        <img [src]="employee.imgUrl" class="card-img-top" alt="...">
      </div>
      <div class="col-md-6 pt-4 pt-lg-0 content">
        <h3>Dr {{employee.name}} <i class="fa-solid fa-circle-check"></i></h3>
        <h5 class="mb-4">{{employee.work}}</h5>
        <a  routerLink="/doctors">
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </a>
        <div class="mt-5 info ">
        <p><span> Age:</span> {{employee.age}}</p>
        <p><span> Gender:</span> {{employee.gender}}</p>
        <p><span> Email:</span> {{employee.gmail}}</p>
        <p><span> Phone:</span> {{employee.phone}}</p>
        <a class="btn btn-info mr-2 mt-3" routerLink="/employees" >Back</a>
      </div>
     </div>

    </div>

  </div>
</section>

